[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=api_project
Group=api_project
WorkingDirectory=/home/api_project/app/src/
Environment="PATH=/home/api_project/app/venv/bin"
EnvironmentFile=/home/api_project/.env
ExecStart=/home/api_project/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target